@import "./styles/global.scss";

.App {
  background-color: $lightGrey;
  height: 100vh;
  h1 {
    font-size: 35px;
  }
  .contentBox {
    display: flex;
    width: 80%;
    margin: 0 auto;
    height: 90vh;
  }
}
