@import "./styles/global.scss";

.App {
  background-color: $lightGrey;
  height: 100vh;
  h1 {
    font-size: 35px;
  }
  .contentBox {
    display: flex;
    width: 100%;
    margin: 0 auto;
    height: 90vh;
  }
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 991278a (controllers and actions to get all locks and delete a lock. open and reset updated)
  .Locks {
    display: block;
    h1 {
      font-size: 35px;
<<<<<<< HEAD
=======
  button{
    background-color: blue;
    color: white;
    margin: 10px;
    padding: 5px 10px;
    &:disabled{
      background-color: gray;
      cursor: not-allowed;
>>>>>>> a4143a5 (algorithm updates front to back)
=======
>>>>>>> 991278a (controllers and actions to get all locks and delete a lock. open and reset updated)
    }
  }
}
