@import "../../styles/global.scss";
.Filter {
  padding: 1.5rem;
  border-bottom: 1px solid #cacaca;
  .FilterWrapper {
    width: 100%;
    display: flex;
    margin: 0 auto;
    .input {
      position: relative;
      margin-right: 3%;
      input {
        color: #4c4c4c;
        border: 1px solid #ccc;
        padding: 8px 250px 9px 10px;
        border-radius: 5px;
        &::placeholder {
          text-align: left;
        }
      }

      img {
        position: absolute;
        top: 25%;
        right: 5%;
      }
    }

    .optionButtons {
      display: flex;

      div {
        display: flex;
        align-items: center;
      }
    }
  }
}
