@import "../../styles/global.scss";

.Schedule {
  width: 90%;
  margin: 0 auto;
  margin-top: 5rem;

  .DailyTable {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    h2 {
      font-size: $largeFontSize2;
      color: $black2;
    }
    .Column {
      border: 1px solid $black2;
      padding: 1rem;
      font-size: $largeFontSize;
      color: $lightGrey2;
      white-space: nowrap;
    }
  }

  .HourlyTitle {
    text-align: center;
    font-size: $largeFontSize;
    color: $lightGrey2;
    margin-bottom: 1rem;
  }
  .tableContent {
    display: flex;
    justify-content: center;
    text-align: center;

    .TimeColumn {
      width: 10%;
      .Days {
        font-size: $largeFontSize;
        color: $lightGrey2;
        text-align: center;
        white-space: nowrap;
      }

      div {
        font-size: $mediumFontSize;
        font-family: $workSans;
        height: 1rem;
        border: 1px solid $lightGrey2;
        border-bottom: none;
        padding: 2rem;
        &:last-child {
          border-bottom: 1px solid $lightGrey2;
        }
        &:first-child {
          border-top: none;
        }
      }
    }
    .Column {
      width: 15%;
      .Days {
        font-size: $largeFontSize;
        color: $lightGrey2;
        text-align: center;
        white-space: nowrap;
      }
      div {
        height: 1rem;
        border: 1px solid $lightGrey2;
        border-bottom: none;
        padding: 2rem;
        position: relative;
        transition: 1s;
        &:hover .tooltipText {
          visibility: visible;
        }
        .tooltipText {
          visibility: hidden;
          width: 120px;
          background-color: black;
          color: #fff;
          text-align: center;
          padding: 1rem;
          border-radius: 6px;
          position: absolute;
          z-index: 1;
          font-size: $mediumFontSize;
          font-family: $workSans;
        }

        &:last-child {
          border-bottom: 1px solid $lightGrey2;
        }
        &:first-child {
          border-top: none;
        }
      }
    }
  }
}
