//Fonts

//Colors
$black: #060606;
$black2: #343a40;
$blackGrey: #535763;
$grey: rgba(36, 46, 62, 0.1);
$lightGrey: #f6f7fb;
$white: #fff;
$lightBlue: #4886ff;
$veryLightBlue: #189ed9;
$lightGreen: #9ccc65;
$red: #ff484c;
$orange: #ffba57;

//Font Sizes
$mediumFontSize: 1.6rem;
$smallerMediumFont: 1.5rem;
$smallFontSize: 1.4rem;
// Line-Heights
$navLineHeight: 70px;
$textLineHeight: 1.5;
//Font Family
$workSans: Work Sans, sans-serif;
